* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: poppins, roboto, sans-serif;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #02050e;
}

/*nav starts here*/
header {
  width: 100%;
  height: 80px;
  position: fixed;
  justify-content: space-between;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  background: #ec0000;
  display: flex;
  align-items: center;
  padding: 20px 9%;
}
.logo img {
  max-width: 90px;
  height: auto;
  padding-top: 8px;
}

#check {
  display: none;
}

header label {
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

ul li {
  display: inline-block;

  margin: 0 18px;
}

ul li a {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 3px 0;
}

.nav-icon {
  display: flex;
  align-items: center;
}
.nav-icon i {
  margin-left: 25px;
  color: #fff;
  font-size: 20px;
  font: weight 300px;
  transition: all.42s ease;
}
/*nav ends here*/
.shipping-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 143px;
  flex-direction: column;
}
.shipping-form {
  text-align: center;
  width: 600px;
}
.shipping-form h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}
.shipping-input-box {
  margin: 30px 0;
  position: relative;
}
.shipping-input-box input {
  width: 100%;
  padding: 12px 12px 12px 12px;
  font-size: 16px;
  font-weight: 400;
}
.shipping-input-box label {
  display: flex;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 7px;
}
.shipping-small-part {
  display: flex;
  gap: 30px;
}
.shipping-small-part .shipping-input-box {
  width: 100%;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.save {
  margin-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #ec0000;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  width: 250px;
  justify-content: center;
  align-items: center;
}

.payment-form {
  display: flex;
  flex-direction: column;

  width: 600px;

  margin-bottom: 30px;
  background: #ffffff;
}
.payment-heading h1 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #fff;
}
.debit-card {
  padding-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
.debit-card label {
  display: flex;
  gap: 17px;
  cursor: pointer;
  color: black;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
}
.debit-card input {
  accent-color: black;
  cursor: pointer;
}
.payment-input-box {
  width: 100%;
  margin: 10px 0;
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}
.payment-input-box input {
  width: 100%;
  padding: 12px 12px 12px 12px;
  font-size: 16px;
  font-weight: 400;
}
.payment-input-box label {
  display: flex;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 7px;
}
.payment-small-part {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  gap: 30px;
}
.payment-small-part .payment-input-box {
  padding-left: 0;
  padding-right: 0;
}
.visa-icons {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 50px;
}
.visa-icons .image1 {
  width: 50px;
  height: 16px;
  padding-top: 0;
  padding-bottom: 0;
}
.visa-icons .image2 {
  width: 40px;
  height: 40px;
}
.vipps label {
  display: flex;
  gap: 17px;
  cursor: pointer;
  color: black;
  padding-left: 20px;
}
.vipps input {
  accent-color: black;
}
.vipps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 30px;
}
.vipps img {
  width: 80px;
  height: 32;
}
.total-amount {
  width: 600px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 35px;
}
.place-order {
  padding-top: 12px;
  padding-bottom: 12px;
  background: #ec0000;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  width: 250px;
  justify-content: center;
  text-align: center;
  margin-bottom: 63px;
  cursor: pointer;
}
/*footer starts here*/
.footer-container {
  width: 100%;
  color: #ffffff;
  background-color: #ec0000;
  height: 262px;

  align-content: center;
}
.footer-insidebox {
  display: flex;
  justify-content: space-between;
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 3%;
}
.footer-heading {
  display: flex;
  flex-direction: column;
}
.footer-heading h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer-heading a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}
.footer-heading p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}
.section-4 h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
#footer-email {
  width: 200px;
  height: 40px;
  border: none;
  background-color: #fff;
  color: black;
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  margin-bottom: 10px;
}
#footer-email-btn {
  width: 80px;
  height: 40px;
  border: none;
  background-color: black;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
.social-div {
  display: flex;
  align-items: center;
  justify-content: left;
}
.social-media a {
  height: 32px;
  width: 32px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 20px;
  text-align: center;

  line-height: 32px;
  color: #ec0000;
}
.social-media a i {
  transition: all 0.3s linear;
}
.social-media a:hover i {
  transform: scale(1.2);
}
/*footer ends here*/
@media only screen and (max-width: 1200px) {
  header {
    padding: 20px 7%;
  }
  .shipping-form h1 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
  }
  .payment-heading h1 {
    font-size: 30px;
  }

  /*footer starts here*/
  .footer-insidebox {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 4%;
  }

  .footer-heading h3 {
    font-size: 17px;
    font-weight: 500;
  }
  .footer-heading a {
    font-size: 14px;
    font-weight: 400;
  }
  .footer-heading p {
    font-size: 14px;
    font-weight: 400;
  }
  /*footer ends here*/
}
@media only screen and (max-width: 1024px) {
  header {
    height: 70px;
    padding: 20px 7%;
  }
  .logo img {
    max-width: 70px;
    height: auto;
  }
  ul li {
    display: inline-block;

    margin: 0 16px;
  }

  ul li a {
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 0;
  }
  .nav-icon i {
    margin-left: 20px;
    color: #fff;
    font-size: 16px;
    font: weight 300px;
    transition: all.42s ease;
  }
  /*nav ends here*/

  .shipping-info-container {
    margin-top: 115px;
  }
  .shipping-form {
    text-align: center;
    width: 475px;
  }
  .shipping-form h1 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .shipping-input-box {
    margin: 15px 0;
    position: relative;
  }
  .shipping-input-box input {
    font-size: 12px;
    font-weight: 400;
  }
  .shipping-input-box label {
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 7px;
  }
  .shipping-small-part {
    display: flex;
    gap: 20px;
  }
  .shipping-small-part .shipping-input-box {
    width: 100%;
    gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .save {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    width: 200px;
    justify-content: center;
  }

  .payment-form {
    width: 475px;
    margin-bottom: 30px;
  }
  .payment-heading h1 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
  }
  .debit-card {
    padding-top: 30px;
  }
  .debit-card label {
    display: flex;
    gap: 17px;
    cursor: pointer;
    color: black;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 500;
  }

  .payment-input-box {
    width: 100%;
    margin: 10px 0;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
  }
  .payment-input-box input {
    width: 100%;
    padding: 12px 12px 12px 12px;
    font-size: 12px;
    font-weight: 400;
  }
  .payment-input-box label {
    display: flex;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 7px;
  }
  .payment-small-part {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px;
  }
  .payment-small-part .payment-input-box {
    padding-left: 0;
    padding-right: 0;
  }
  .visa-icons {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 50px;
    margin: 10px;
  }
  .visa-icons .image1 {
    width: 40px;
    height: 13px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .visa-icons .image2 {
    width: 30px;
    height: 30px;
  }
  .vipps label {
    display: flex;
    gap: 17px;
    cursor: pointer;
    color: black;
    padding-left: 20px;
  }
  .vipps input {
    accent-color: black;
  }
  .vipps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 30px;
  }
  .vipps img {
    width: 70px;
    height: auto;
  }
  .total-amount {
    width: 457px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
  }
  .place-order {
    padding-top: 12px;
    padding-bottom: 12px;
    background: #ec0000;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    width: 200px;
    margin-bottom: 45px;
  }
  /*footer starts here*/
  .footer-container {
    width: 100%;
    height: 225 px;
  }
  .footer-insidebox {
    padding-left: 7%;
    padding-right: 7%;
  }

  .footer-heading h3 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 17px;
  }
  .footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
  }
  .footer-heading p {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
  }
  .section-4 h3 {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
  }

  #footer-email {
    width: 150px;
    height: 35px;
    border: none;
    background-color: #fff;
    color: black;
    font-size: 10px;
    font-weight: 500;
  }
  #footer-email-btn {
    width: 60px;
    height: 35px;
    font-size: 9px;
    font-weight: 500;
  }
  .social-media a {
    height: 28px;
    width: 28px;
    margin-right: 20px;
    text-align: center;
  }
  /*footer ends here*/
}
@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 65px;
    position: fixed;
    justify-content: space-between;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    background: #ec0000;
    display: flex;
    align-items: center;
    padding: 20px 7%;
  }
  .logo img {
    max-width: 70px;
    height: auto;
  }
  ul li {
    display: inline-block;

    margin: 0 16px;
  }

  ul li a {
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 0;
  }

  .nav-icon i {
    margin-left: 20px;
    color: #fff;
    font-size: 16px;
    font: weight 300px;
    transition: all.42s ease;
  }
  /*nav ends here*/
  .shipping-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
  }
  .shipping-form {
    text-align: center;
    width: 400px;
  }
  .shipping-form h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
  }
  .shipping-input-box {
    margin: 20px 0;
    position: relative;
  }
  .shipping-input-box input {
    width: 100%;
    padding: 12px 12px 12px 12px;
    font-size: 10px;
    font-weight: 400;
  }
  .shipping-input-box label {
    display: flex;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 7px;
  }
  .shipping-small-part {
    display: flex;
    gap: 20px;
  }
  .shipping-small-part .shipping-input-box {
    width: 100%;
    gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .save {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;

    background: #ec0000;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    width: 180px;
    justify-content: center;
    align-items: center;
  }

  .payment-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 30px;
    background: #ffffff;
  }
  .payment-heading h1 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
  }
  .debit-card {
    padding-top: 30px;
  }
  .debit-card label {
    display: flex;
    gap: 17px;
    cursor: pointer;
    color: black;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500;
  }
  .debit-card input {
    accent-color: black;
    cursor: pointer;
  }
  .payment-input-box {
    width: 100%;
    margin: 10px 0;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
  }
  .payment-input-box input {
    width: 100%;
    padding: 12px 12px 12px 12px;
    font-size: 10px;
    font-weight: 400;
  }
  .payment-input-box label {
    display: flex;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 7px;
  }
  .payment-small-part {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    gap: 20px;
  }
  .payment-small-part .payment-input-box {
    padding-left: 0;
    padding-right: 0;
  }
  .visa-icons {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 50px;
    margin: 10px;
  }
  .visa-icons .image1 {
    width: 40px;
    height: 13px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .visa-icons .image2 {
    width: 30px;
    height: 30px;
  }
  .vipps label {
    display: flex;
    gap: 17px;
    cursor: pointer;
    color: black;
    padding-left: 20px;
  }
  .vipps input {
    accent-color: black;
  }
  .vipps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 30px;
  }
  .vipps img {
    width: 60px;
    height: auto;
  }
  .total-amount {
    width: 400px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
  }
  .place-order {
    padding-top: 12px;
    padding-bottom: 12px;
    background: #ec0000;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    width: 180px;
    margin-bottom: 45px;
  }

  /*footer starts here*/
  .footer-container {
    width: 100%;
    height: 225px;
  }
  .footer-insidebox {
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
  }
  .footer-heading {
    display: flex;
    flex-direction: column;
  }
  .footer-heading h3 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 17px;
  }
  .footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
  }
  .footer-heading p {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
  }
  .section-4 h3 {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
  }

  #footer-email {
    width: 150px;
    height: 35px;
    border: none;
    background-color: #fff;
    color: black;
    font-size: 10px;
    font-weight: 500;
  }
  #footer-email-btn {
    width: 60px;
    height: 35px;
    font-size: 9px;
    font-weight: 500;
  }
  .social-media a {
    height: 28px;
    width: 28px;
    margin-right: 20px;
    text-align: center;
  }
  /*footer ends here*/
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  header {
    width: 100%;
    height: 60px;
    padding: 20px 7%;
  }
  .logo img {
    max-width: 55px;
    height: auto;
  }
  ul li {
    display: inline-block;

    margin: 0 16px;
  }

  ul li a {
    position: relative;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    padding: 3px 0;
  }

  .nav-icon i {
    margin-left: 20px;
    color: #fff;
    font-size: 14px;
    font: weight 300px;
    transition: all.42s ease;
  }
  /*nav ends here*/
  .shipping-info-container {
    margin-top: 90px;
  }
  .payment-form {
    margin-bottom: 30px;
  }
  .place-order {
    margin-bottom: 30px;
  }

  /*footer starts here*/
  .footer-container {
    width: 100%;
    height: 225px;
  }
  .footer-insidebox {
    display: flex;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
  }
  .footer-heading {
    display: flex;
    flex-direction: column;
  }
  .footer-heading h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 17px;
  }
  .footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
  }
  .footer-heading p {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
  }
  .section-4 h3 {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
  }

  #footer-email {
    width: 150px;
    height: 35px;
    border: none;
    background-color: #fff;
    color: black;
    font-size: 10px;
    font-weight: 500;
  }
  #footer-email-btn {
    width: 60px;
    height: 35px;
    font-size: 9px;
    font-weight: 500;
  }
  .social-media a {
    height: 28px;
    width: 28px;
    margin-right: 20px;
    text-align: center;
  }
  /*footer ends here*/
}
@media only screen and (max-width: 400px) {
  header {
    height: 55px;
    width: 100%;
    padding: 6%;
  }
  .logo img {
    max-width: 55px;
    height: auto;
  }
  header label {
    display: block;
  }

  ul {
    height: 50vh;
    width: 50%;
    background: #05112b;
    position: fixed;
    top: 55px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  #check:checked ~ ul {
    left: 0;
  }
  ul li {
    margin: 30px 0;
    display: block;
    line-height: 30px;
  }
  ul li a {
    color: #fff;
    font-size: 14px;

    font-weight: 500;
    transition: all 0.42s ease;
  }

  .nav-icon i {
    margin-left: 15px;
    color: #fff;
    font-size: 18px;
    font: weight 300px;
    transition: all.42s ease;
  }
  /*nav ends here*/
  .shipping-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    flex-direction: column;
  }
  .shipping-form {
    text-align: center;
    width: 300px;
  }
  .shipping-form h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
  }
  .shipping-input-box {
    margin: 20px 0;
    position: relative;
  }
  .shipping-input-box input {
    width: 100%;
    padding: 12px 12px 12px 12px;
    font-size: 10px;
    font-weight: 400;
  }
  .shipping-input-box label {
    display: flex;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 7px;
  }
  .shipping-small-part {
    display: flex;
    gap: 15px;
  }
  .shipping-small-part .shipping-input-box {
    width: 100%;
    gap: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .save {
    margin-top: 30px;

    padding-top: 10px;
    padding-bottom: 10px;
    background: #ec0000;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    width: 180px;
    justify-content: center;
    align-items: center;
  }

  .payment-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 30px;
    background: #ffffff;
  }
  .payment-heading h1 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
  }
  .debit-card {
    padding-top: 30px;
  }
  .debit-card label {
    display: flex;
    gap: 10px;
    cursor: pointer;
    color: black;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500;
  }
  .debit-card input {
    accent-color: black;
    cursor: pointer;
  }
  .payment-input-box {
    width: 100%;
    margin: 7px 0;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
  }
  .payment-input-box input {
    width: 100%;
    padding: 12px 12px 12px 12px;
    font-size: 10px;
    font-weight: 400;
  }
  .payment-input-box label {
    display: flex;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 7px;
  }
  .payment-small-part {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    gap: 10px;
  }
  .payment-small-part .payment-input-box {
    padding-left: 0;
    padding-right: 0;
  }
  .visa-icons {
    display: flex;
    align-items: center;
    gap: 25px;
    padding-left: 30px;
    margin: 7px;
  }
  .visa-icons .image1 {
    width: 40px;
    height: 13px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .visa-icons .image2 {
    width: 30px;
    height: 30px;
  }
  .vipps label {
    display: flex;
    gap: 10px;
    cursor: pointer;
    color: black;
    padding-left: 20px;
  }
  .vipps input {
    accent-color: black;
  }
  .vipps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 32px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 30px;
  }
  .vipps img {
    width: 60px;
    height: auto;
  }
  .total-amount {
    width: 300px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
  }
  .place-order {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    width: 180px;
    margin-bottom: 30px;
  }

  /*footer starts here*/
  .footer-container {
    width: 100%;
  }
  .footer-insidebox {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #ec0000;
  }
  .footer-heading {
    display: flex;
    flex-direction: column;
  }
  .footer-heading h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
  }
  .footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  .footer-heading p {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  .section-4 h3 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
  }
  #footer-email {
    width: 150px;
    height: 35px;
    border: none;
    background-color: #fff;
    color: black;
    font-size: 10px;
    font-weight: 500;
  }
  #footer-email-btn {
    width: 60px;
    height: 35px;
    font-size: 9px;
    font-weight: 500;
  }
  .email-form {
    align-items: center;
  }

  .social-div a {
    height: 28px;
    width: 28px;
    color: #ec0000;
    margin: 0;
  }
  .social-div {
    justify-content: space-evenly;
  }
  /*footer ends here*/
}
